<div
  id="bg-galeria-paginicial"
  class="
    container-fluid
    d-flex
    flex-column
    justify-content-center
    text-center
    m-auto
    p-5
  "
  style="background-image: url(/assets/img/large-triangles.svg)"
>
  <div class="row">
    <div class="container-fluid mb-5">
      <h2 id="h2-games-paginicial" style="text-align: center">
        Veja nossos lançamentos!
      </h2>
    </div>
  </div>
  <!--EDIT-->
  <div class="row my-3">
    <div
      class="col-xxl-2 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12 my-3 mx-auto"
    >
      <div class="card m-auto" style="width: 15rem">
        <img
          class="card-img-top"
          src="assets/img/game4.jpg"
          alt="Imagem de capa do card"
        />
        <div class="card-body">
          <h5 class="card-title">Ratchet Clank</h5>
          <p class="card-text">
            Viagens e exploração dos planetas e dimensões, em busca de Clank e
            Rivet segue na sua missão ao lado da resistência.
          </p>
          <a href="#" class="btn btn-primary">COMPRAR</a>
        </div>
      </div>
    </div>
    <!------------------------->
    <div
      class="col-xxl-2 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12 my-3 mx-auto"
    >
      <div class="card m-auto" style="width: 15rem">
        <img
          class="card-img-top"
          src="assets/img/game4.jpg"
          alt="Imagem de capa do card"
        />
        <div class="card-body">
          <h5 class="card-title">Ratchet Clank</h5>
          <p class="card-text">
            Viagens e exploração dos planetas e dimensões, em busca de Clank e
            Rivet segue na sua missão ao lado da resistência.
          </p>
          <a href="#" class="btn btn-primary">COMPRAR</a>
        </div>
      </div>
    </div>
    <!------------------------->
    <div
      class="col-xxl-2 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12 my-3 mx-auto"
    >
      <div class="card m-auto" style="width: 15rem">
        <img
          class="card-img-top"
          src="assets/img/game5.jpg"
          alt="Imagem de capa do card"
        />
        <div class="card-body">
          <h5 class="card-title">Metro Exodus</h5>
          <p class="card-text">
            Um jogo de tiro em primeira pessoa com elementos de survival horror
            e stealth. Situado num terreno baldio pós-apocalíptico.
          </p>
          <a href="#" class="btn btn-primary">COMPRAR</a>
        </div>
      </div>
    </div>
    <!------------------------->
    <div
      class="col-xxl-2 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12 my-3 mx-auto"
    >
      <div class="card m-auto" style="width: 15rem">
        <img
          class="card-img-top"
          src="assets/img/game6.jpg"
          alt="Imagem de capa do card"
        />
        <div class="card-body">
          <h5 class="card-title">Sackboy</h5>
          <p class="card-text">
            Vex, um terrível vilão, sequestra os amigos de Sackboy e os força a
            construírem um dispositivo para destruir o Artemundo.
          </p>
          <a href="#" class="btn btn-primary">COMPRAR</a>
        </div>
      </div>
    </div>
    <!------------------------->
    <div
      class="col-xxl-2 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12 my-3 mx-auto"
    >
      <div class="card m-auto" style="width: 15rem">
        <img
          class="card-img-top"
          src="assets/img/game1.jpg"
          alt="Imagem de capa do card"
        />
        <div class="card-body">
          <h5 class="card-title">Hades</h5>
          <p class="card-text">
            Hades é um jogo de ação hack and slash frenético com visão
            isométrica desenvolvido pela Supergiant Games.
          </p>
          <a href="#" class="btn btn-primary">COMPRAR</a>
        </div>
      </div>
    </div>
  </div>
  <!--EDIT-->
  <!--------------------------
    
    ---------------------------->

  <!------------------------------------------------------>
  <div class="row my-3">
    <div
      class="col-xxl-2 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12 my-3 mx-auto"
    >
      <div class="card m-auto" style="width: 15rem">
        <img
          class="card-img-top"
          src="assets/img/game4.jpg"
          alt="Imagem de capa do card"
        />
        <div class="card-body">
          <h5 class="card-title">Ratchet Clank</h5>
          <p class="card-text">
            Viagens e exploração dos planetas e dimensões, em busca de Clank e
            Rivet segue na sua missão ao lado da resistência.
          </p>
          <a href="#" class="btn btn-primary">COMPRAR</a>
        </div>
      </div>
    </div>
    <!------------------------->
    <div
      class="col-xxl-2 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12 my-3 mx-auto"
    >
      <div class="card m-auto" style="width: 15rem">
        <img
          class="card-img-top"
          src="assets/img/game4.jpg"
          alt="Imagem de capa do card"
        />
        <div class="card-body">
          <h5 class="card-title">Ratchet Clank</h5>
          <p class="card-text">
            Viagens e exploração dos planetas e dimensões, em busca de Clank e
            Rivet segue na sua missão ao lado da resistência.
          </p>
          <a href="#" class="btn btn-primary">COMPRAR</a>
        </div>
      </div>
    </div>
    <!------------------------->
    <div
      class="col-xxl-2 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12 my-3 mx-auto"
    >
      <div class="card m-auto" style="width: 15rem">
        <img
          class="card-img-top"
          src="assets/img/game5.jpg"
          alt="Imagem de capa do card"
        />
        <div class="card-body">
          <h5 class="card-title">Metro Exodus</h5>
          <p class="card-text">
            Um jogo de tiro em primeira pessoa com elementos de survival horror
            e stealth. Situado num terreno baldio pós-apocalíptico.
          </p>
          <a href="#" class="btn btn-primary">COMPRAR</a>
        </div>
      </div>
    </div>
    <!------------------------->
    <div
      class="col-xxl-2 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12 my-3 mx-auto"
    >
      <div class="card m-auto" style="width: 15rem">
        <img
          class="card-img-top"
          src="assets/img/game6.jpg"
          alt="Imagem de capa do card"
        />
        <div class="card-body">
          <h5 class="card-title">Sackboy</h5>
          <p class="card-text">
            Vex, um terrível vilão, sequestra os amigos de Sackboy e os força a
            construírem um dispositivo para destruir o Artemundo.
          </p>
          <a href="#" class="btn btn-primary">COMPRAR</a>
        </div>
      </div>
    </div>
    <!------------------------->
    <div
      class="col-xxl-2 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12 my-3 mx-auto"
    >
      <div class="card m-auto" style="width: 15rem">
        <img
          class="card-img-top"
          src="assets/img/game1.jpg"
          alt="Imagem de capa do card"
        />
        <div class="card-body">
          <h5 class="card-title">Hades</h5>
          <p class="card-text">
            Hades é um jogo de ação hack and slash frenético com visão
            isométrica desenvolvido pela Supergiant Games.
          </p>
          <a href="#" class="btn btn-primary">COMPRAR</a>
        </div>
      </div>
    </div>
  </div>
  <!------------------------------------------------------>
  <div class="row my-3">
    <div
      class="col-xxl-2 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12 my-3 mx-auto"
    >
      <div class="card m-auto" style="width: 15rem">
        <img
          class="card-img-top"
          src="assets/img/game4.jpg"
          alt="Imagem de capa do card"
        />
        <div class="card-body">
          <h5 class="card-title">Ratchet Clank</h5>
          <p class="card-text">
            Viagens e exploração dos planetas e dimensões, em busca de Clank e
            Rivet segue na sua missão ao lado da resistência.
          </p>
          <a href="#" class="btn btn-primary">COMPRAR</a>
        </div>
      </div>
    </div>
    <!------------------------->
    <div
      class="col-xxl-2 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12 my-3 mx-auto"
    >
      <div class="card m-auto" style="width: 15rem">
        <img
          class="card-img-top"
          src="assets/img/game4.jpg"
          alt="Imagem de capa do card"
        />
        <div class="card-body">
          <h5 class="card-title">Ratchet Clank</h5>
          <p class="card-text">
            Viagens e exploração dos planetas e dimensões, em busca de Clank e
            Rivet segue na sua missão ao lado da resistência.
          </p>
          <a href="#" class="btn btn-primary">COMPRAR</a>
        </div>
      </div>
    </div>
    <!------------------------->
    <div
      class="col-xxl-2 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12 my-3 mx-auto"
    >
      <div class="card m-auto" style="width: 15rem">
        <img
          class="card-img-top"
          src="assets/img/game5.jpg"
          alt="Imagem de capa do card"
        />
        <div class="card-body">
          <h5 class="card-title">Metro Exodus</h5>
          <p class="card-text">
            Um jogo de tiro em primeira pessoa com elementos de survival horror
            e stealth. Situado num terreno baldio pós-apocalíptico.
          </p>
          <a href="#" class="btn btn-primary">COMPRAR</a>
        </div>
      </div>
    </div>
    <!------------------------->
    <div
      class="col-xxl-2 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12 my-3 mx-auto"
    >
      <div class="card m-auto" style="width: 15rem">
        <img
          class="card-img-top"
          src="assets/img/game6.jpg"
          alt="Imagem de capa do card"
        />
        <div class="card-body">
          <h5 class="card-title">Sackboy</h5>
          <p class="card-text">
            Vex, um terrível vilão, sequestra os amigos de Sackboy e os força a
            construírem um dispositivo para destruir o Artemundo.
          </p>
          <a href="#" class="btn btn-primary">COMPRAR</a>
        </div>
      </div>
    </div>
    <!------------------------->
    <div
      class="col-xxl-2 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12 my-3 mx-auto"
    >
      <div class="card m-auto" style="width: 15rem">
        <img
          class="card-img-top"
          src="assets/img/game1.jpg"
          alt="Imagem de capa do card"
        />
        <div class="card-body">
          <h5 class="card-title">Hades</h5>
          <p class="card-text">
            Hades é um jogo de ação hack and slash frenético com visão
            isométrica desenvolvido pela Supergiant Games.
          </p>
          <a href="#" class="btn btn-primary">COMPRAR</a>
        </div>
      </div>
    </div>
  </div>
</div>
