<!--HEADER START-->
<nav id="navbar-header" class="navbar navbar-expand-lg navbar-light p-2 m-0">
  <a class="navbar-brand" href="#">
    <img src="../assets/img/LogoGamZone.svg" alt="" />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Alterna navegação"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="justify-content-end collapse navbar-collapse"
    id="navbarNavAltMarkup"
  >
    <div class="navbar-nav">
      <!--<button type="button" class="btn btn-light">Light</button>-->

      <a routerLink="/home" class="nav-item nav-link active" href="#"
        ><button type="button" class="btn btn-light">Home</button>
        <span class="sr-only"></span
      ></a>

      <a routerLink="/gamespag" class="nav-item nav-link active" href="#"
        ><button type="button" class="btn btn-light">Games</button></a
      >
      <a routerLink="/produtos" class="nav-item nav-link active" href="#"
        ><button type="button" class="btn btn-light">Produtos</button></a
      >
      <a routerLink="/contato" class="nav-item nav-link active" href="#"
        ><button type="button" class="btn btn-light">Contato</button></a
      >
    </div>
  </div>
</nav>
<!--HEADER END-->
<!--BODY START-->

<router-outlet> </router-outlet>
<!--BODY END-->
<!--FOOTER START-->
<div id="footer" class="container-fluid">
  <div class="row">
    <div class="col-sm d-flex flex-column text-center p-2">
      <h3 id="h3-footer">Localização</h3>
      <p id="p-h3-footer">Rua Otacilio Ferreira, 657</p>
      <p id="p-h3-footer">Botucatu, São Paulo, Brasil</p>
    </div>
    <div class="col-sm d-flex flex-column text-center p-2">
      <h3 id="h3-footer">Fale conosco</h3>
      <p id="p-h3-footer">Tel.xxxxx-xxxx</p>

      <p id="p-h3-footer">Email.Gamingzone@gmail.com</p>
    </div>
    <div class="col-sm d-flex flex-column text-center p-2">
      <h3 id="h3-footer">Formas de pagamento</h3>
      <div class="d-flex justify-content-around">
        <img id="img-footer" src="../assets/img/hipercard 1.svg" alt="" />
        <img id="img-footer" src="../assets/img/Groupvisa.svg" alt="" />
        <img id="img-footer" src="../assets/img/g10.svg" alt="" />
      </div>
    </div>
  </div>
</div>
<!--FOOTER END-->
