<div id="bg-games-paginicial" class="container-fluid p-5 m-auto">
  <div class="container-fluid p-5 m-0">
    <h2 class="h2-banner-paginicial m-0" style="text-align: center">
      Os melhores notebooks gamers!
    </h2>
  </div>
  <div class="row">
    <div
      class="
        col-xxl-3 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12
        my-3
        mx-auto
        p-0
        flex-fill
      "
    >
      <div id="teste" class="card m-auto p-0" style="width: 16rem">
        <img
          class="card-img-top"
          src="assets/img/notebook1.jpg"
          alt="Imagem de capa do card"
        />
        <div class="card-body">
          <h5 class="card-title">Notebook Nitro 5</h5>
          <p class="card-text">
            Intel Core i5 7785 16GB 1TB HD 512GB SSD GTX 1650 15.6' Full HD
            Endless .
          </p>
          <a href="#" class="btn btn-primary">COMPRAR</a>
        </div>
      </div>
    </div>
    <div
      class="
        col-xxl-3 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12
        my-3
        mx-auto
        p-0
        flex-fill
      "
    >
      <div id="teste" class="card m-auto p-0" style="width: 16rem">
        <img
          class="card-img-top"
          src="assets/img/notebook2.jpg"
          alt="Imagem de capa do card"
        />
        <div class="card-body">
          <h5 class="card-title">Notebook Predator 300</h5>
          <p class="card-text">
            Intel Core i7 Windows 10 Home 16GB 512GB SSD RTX 2060 15,6'.
          </p>
          <a href="#" class="btn btn-primary">COMPRAR</a>
        </div>
      </div>
    </div>
    <div
      class="
        col-xxl-3 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12
        my-3
        mx-auto
        p-0
        flex-fill
      "
    >
      <div id="teste" class="card m-auto p-0" style="width: 16rem">
        <img
          class="card-img-top"
          src="assets/img/notebook3.jpg"
          alt="Imagem de capa do card"
        />
        <div class="card-body">
          <h5 class="card-title">Notebook Aspire</h5>
          <p class="card-text">
            Ryzen 7 Windows 10 Home 8GB 512GB SSD GTX1650 TI 15,6'.
          </p>
          <a href="#" class="btn btn-primary">COMPRAR</a>
        </div>
      </div>
    </div>
    <div
      class="
        col-xxl-3 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12
        my-3
        mx-auto
        p-0
        flex-fill
      "
    >
      <div id="teste" class="card m-auto p-0" style="width: 16rem">
        <img
          class="card-img-top"
          src="assets/img/notebook4.jpg"
          alt="Imagem de capa do card"
        />
        <div class="card-body">
          <h5 class="card-title">Notebook Nitro 5</h5>
          <p class="card-text">
            Intel Core i5 7785 16GB 1TB HD 512GB SSD GTX 1650 15.6' Full HD
            Endless .
          </p>
          <a href="#" class="btn btn-primary">COMPRAR</a>
        </div>
      </div>
    </div>
  </div>
</div>
