<div class="container-fluid">
  <div class="row" style="background-color: #0d375c">
    <div class="col-6 p-5">
      <h3 id="h3-contato" class="text-center mb-4">Sobre nós:</h3>
      <p id="p-h3-contato">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
        omnis itaque alias deserunt amet incidunt accusamus ullam in
        perspiciatis voluptate illum nobis ratione consequatur, earum quasi
        cupiditate quas aliquid eius.
      </p>
    </div>
    <div class="col-6 p-5">
      <h3 id="h3-contato" class="text-center mb-4">Missão, visão e valores:</h3>
      <ul>
        <li>
          <p id="p-h3-contato-MVV">
            Oferecer os melhores produtos para o nosso público.
          </p>
        </li>
        <li>
          <p id="p-h3-contato-MVV">
            Ser destaque na rede varejista de produtos voltado ao mundo gamer.
          </p>
        </li>
        <li><p id="p-h3-contato-MVV">Contribuir com a comunidade gamer.</p></li>
      </ul>
    </div>
  </div>
  <div
    class="row p-5"
    style="background-image: url(/assets/img/large-triangles.svg)"
  >
    <div class="container mt-5 px-5">
      <h3 id="h3-contato">Fale conosco</h3>
      <p id="p-h3-contato" style="font-weight: bold">Respondemos em até 24h!</p>
    </div>
    <form class="mb-5 p-5">
      <div class="form-group mb-3">
        <label id="text-form" for="exampleFormControlInput1"
          >Endereço de email</label
        >
        <input
          type="email"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="nome@exemplo.com"
        />
      </div>
      <div class="form-group mb-3">
        <label id="text-form" for="exampleFormControlSelect1">Assunto</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Compra</option>
          <option>Entrega</option>
          <option>Devolução</option>
          <option>Sugestão</option>
          <option>Reclamação</option>
        </select>
      </div>
      <div class="form-group mb-3">
        <label id="text-form" for="exampleFormControlTextarea1"
          >Descrição</label
        >
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="3"
        ></textarea>
      </div>
    </form>
  </div>
</div>
