#h3-contato {
  font-size: 3rem;
  font-weight: 700;
  font-family: "Ubuntu";
  letter-spacing: 0.1rem;
  word-spacing: 0.5rem;
  color: #a87d0f;

  color: transparent;
  background: #575757;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 1px rgba(255, 255, 255, 0.76);
}

#p-h3-contato {
  font-size: 1.5rem;
  font-weight: 300;
  font-family: "Ubuntu";
  letter-spacing: 0.1rem;
  word-spacing: 0.5rem;
  color: #dbdbdb;
}

#p-h3-contato-MVV {
  font-size: 1.2rem;
  font-weight: 300;
  font-family: "Ubuntu";
  letter-spacing: 0.1rem;
  word-spacing: 0.5rem;
  color: #dbdbdb;
}

#text-form {
  font-weight: 500;
  font-size: 1.5rem;
  color: white;
}
