<!--DIV-INFO START-->
<div id="divinfo" class="container-fluid p-3" style="background-color: #286da8">
  <div class="container-fluid">
    <div class="row">
      <div
        class="
          d-flex
          col-md-6
          align-items-center
          justify-content-center
          text-align-center
          m-auto
          p-5
        "
      >
        <h2 id="divinfo-h2" class="text-center font-weight-bold w-70 m-auto">
          A GAMINGZONE oferece os melhores produtos do mercado!
        </h2>
      </div>
      <div
        class="
          col-md-6
          d-flex
          flex-column
          align-center
          justify-content-around
          text-align-center
          m-auto
          p-5
        "
      >
        <p id="p-divinfo" class="w-100 m-1 text-start">
          Frete grátis para todo o Brasil
        </p>
        <p id="p-divinfo" class="w-100 m-1 text-start">
          Parcelamos em 12x sem juros
        </p>
        <p id="p-divinfo" class="w-100 m-1 text-start">Garantia extendida</p>
      </div>
    </div>
  </div>
</div>
<!--DIV-INFO END-->
<!--------------------------------------------------------------------------------------------------->
<!--DIV-TEXTO START-->
<div id="divtexto" class="container-fluid">
  <div class="row d-flex">
    <h3 id="h3-divtexto" class="m-auto my-5 text-center">Notebooks Gamers</h3>
  </div>
</div>
<!--DIV-TEXTO END-->
<!--------------------------------------------------------------------------------------------------->
<!--DIV-PRODUTOS START-->
<div
  id="divprodutos"
  class="container-fluid p-5"
  style="background-image: url(/assets/img/large-triangles.svg)"
>
  <div class="row my-3">
    <div
      class="col-xxl-2 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12 my-3 mx-auto"
    >
      <div class="card m-auto" style="width: 15rem">
        <img
          class="card-img-top"
          src="assets/img/game4.jpg"
          alt="Imagem de capa do card"
        />
        <div class="card-body">
          <h5 class="card-title">Ratchet Clank</h5>
          <p class="card-text">
            Viagens e exploração dos planetas e dimensões, em busca de Clank e
            Rivet segue na sua missão ao lado da resistência.
          </p>
          <a href="#" class="btn btn-primary">COMPRAR</a>
        </div>
      </div>
    </div>
    <!------------------------->
    <div
      class="col-xxl-2 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12 my-3 mx-auto"
    >
      <div class="card m-auto" style="width: 15rem">
        <img
          class="card-img-top"
          src="assets/img/game4.jpg"
          alt="Imagem de capa do card"
        />
        <div class="card-body">
          <h5 class="card-title">Ratchet Clank</h5>
          <p class="card-text">
            Viagens e exploração dos planetas e dimensões, em busca de Clank e
            Rivet segue na sua missão ao lado da resistência.
          </p>
          <a href="#" class="btn btn-primary">COMPRAR</a>
        </div>
      </div>
    </div>
    <!------------------------->
    <div
      class="col-xxl-2 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12 my-3 mx-auto"
    >
      <div class="card m-auto" style="width: 15rem">
        <img
          class="card-img-top"
          src="assets/img/game5.jpg"
          alt="Imagem de capa do card"
        />
        <div class="card-body">
          <h5 class="card-title">Metro Exodus</h5>
          <p class="card-text">
            Um jogo de tiro em primeira pessoa com elementos de survival horror
            e stealth. Situado num terreno baldio pós-apocalíptico.
          </p>
          <a href="#" class="btn btn-primary">COMPRAR</a>
        </div>
      </div>
    </div>
    <!------------------------->
    <div
      class="col-xxl-2 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12 my-3 mx-auto"
    >
      <div class="card m-auto" style="width: 15rem">
        <img
          class="card-img-top"
          src="assets/img/game6.jpg"
          alt="Imagem de capa do card"
        />
        <div class="card-body">
          <h5 class="card-title">Sackboy</h5>
          <p class="card-text">
            Vex, um terrível vilão, sequestra os amigos de Sackboy e os força a
            construírem um dispositivo para destruir o Artemundo.
          </p>
          <a href="#" class="btn btn-primary">COMPRAR</a>
        </div>
      </div>
    </div>
    <!------------------------->
    <div
      class="col-xxl-2 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12 my-3 mx-auto"
    >
      <div class="card m-auto" style="width: 15rem">
        <img
          class="card-img-top"
          src="assets/img/game1.jpg"
          alt="Imagem de capa do card"
        />
        <div class="card-body">
          <h5 class="card-title">Hades</h5>
          <p class="card-text">
            Hades é um jogo de ação hack and slash frenético com visão
            isométrica desenvolvido pela Supergiant Games.
          </p>
          <a href="#" class="btn btn-primary">COMPRAR</a>
        </div>
      </div>
    </div>
  </div>
  <!--EDIT-->
  <!--------------------------
  
  ---------------------------->

  <!------------------------------------------------------>
  <div class="row my-3">
    <div
      class="col-xxl-2 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12 my-3 mx-auto"
    >
      <div class="card m-auto" style="width: 15rem">
        <img
          class="card-img-top"
          src="assets/img/game4.jpg"
          alt="Imagem de capa do card"
        />
        <div class="card-body">
          <h5 class="card-title">Ratchet Clank</h5>
          <p class="card-text">
            Viagens e exploração dos planetas e dimensões, em busca de Clank e
            Rivet segue na sua missão ao lado da resistência.
          </p>
          <a href="#" class="btn btn-primary">COMPRAR</a>
        </div>
      </div>
    </div>
    <!------------------------->
    <div
      class="col-xxl-2 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12 my-3 mx-auto"
    >
      <div class="card m-auto" style="width: 15rem">
        <img
          class="card-img-top"
          src="assets/img/game4.jpg"
          alt="Imagem de capa do card"
        />
        <div class="card-body">
          <h5 class="card-title">Ratchet Clank</h5>
          <p class="card-text">
            Viagens e exploração dos planetas e dimensões, em busca de Clank e
            Rivet segue na sua missão ao lado da resistência.
          </p>
          <a href="#" class="btn btn-primary">COMPRAR</a>
        </div>
      </div>
    </div>
    <!------------------------->
    <div
      class="col-xxl-2 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12 my-3 mx-auto"
    >
      <div class="card m-auto" style="width: 15rem">
        <img
          class="card-img-top"
          src="assets/img/game5.jpg"
          alt="Imagem de capa do card"
        />
        <div class="card-body">
          <h5 class="card-title">Metro Exodus</h5>
          <p class="card-text">
            Um jogo de tiro em primeira pessoa com elementos de survival horror
            e stealth. Situado num terreno baldio pós-apocalíptico.
          </p>
          <a href="#" class="btn btn-primary">COMPRAR</a>
        </div>
      </div>
    </div>
    <!------------------------->
    <div
      class="col-xxl-2 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12 my-3 mx-auto"
    >
      <div class="card m-auto" style="width: 15rem">
        <img
          class="card-img-top"
          src="assets/img/game6.jpg"
          alt="Imagem de capa do card"
        />
        <div class="card-body">
          <h5 class="card-title">Sackboy</h5>
          <p class="card-text">
            Vex, um terrível vilão, sequestra os amigos de Sackboy e os força a
            construírem um dispositivo para destruir o Artemundo.
          </p>
          <a href="#" class="btn btn-primary">COMPRAR</a>
        </div>
      </div>
    </div>
    <!------------------------->
    <div
      class="col-xxl-2 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12 my-3 mx-auto"
    >
      <div class="card m-auto" style="width: 15rem">
        <img
          class="card-img-top"
          src="assets/img/game1.jpg"
          alt="Imagem de capa do card"
        />
        <div class="card-body">
          <h5 class="card-title">Hades</h5>
          <p class="card-text">
            Hades é um jogo de ação hack and slash frenético com visão
            isométrica desenvolvido pela Supergiant Games.
          </p>
          <a href="#" class="btn btn-primary">COMPRAR</a>
        </div>
      </div>
    </div>
  </div>
  <!------------------------------------------------------>
  <div class="row my-3">
    <div
      class="col-xxl-2 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12 my-3 mx-auto"
    >
      <div class="card m-auto" style="width: 15rem">
        <img
          class="card-img-top"
          src="assets/img/game4.jpg"
          alt="Imagem de capa do card"
        />
        <div class="card-body">
          <h5 class="card-title">Ratchet Clank</h5>
          <p class="card-text">
            Viagens e exploração dos planetas e dimensões, em busca de Clank e
            Rivet segue na sua missão ao lado da resistência.
          </p>
          <a href="#" class="btn btn-primary">COMPRAR</a>
        </div>
      </div>
    </div>
    <!------------------------->
    <div
      class="col-xxl-2 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12 my-3 mx-auto"
    >
      <div class="card m-auto" style="width: 15rem">
        <img
          class="card-img-top"
          src="assets/img/game4.jpg"
          alt="Imagem de capa do card"
        />
        <div class="card-body">
          <h5 class="card-title">Ratchet Clank</h5>
          <p class="card-text">
            Viagens e exploração dos planetas e dimensões, em busca de Clank e
            Rivet segue na sua missão ao lado da resistência.
          </p>
          <a href="#" class="btn btn-primary">COMPRAR</a>
        </div>
      </div>
    </div>
    <!------------------------->
    <div
      class="col-xxl-2 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12 my-3 mx-auto"
    >
      <div class="card m-auto" style="width: 15rem">
        <img
          class="card-img-top"
          src="assets/img/game5.jpg"
          alt="Imagem de capa do card"
        />
        <div class="card-body">
          <h5 class="card-title">Metro Exodus</h5>
          <p class="card-text">
            Um jogo de tiro em primeira pessoa com elementos de survival horror
            e stealth. Situado num terreno baldio pós-apocalíptico.
          </p>
          <a href="#" class="btn btn-primary">COMPRAR</a>
        </div>
      </div>
    </div>
    <!------------------------->
    <div
      class="col-xxl-2 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12 my-3 mx-auto"
    >
      <div class="card m-auto" style="width: 15rem">
        <img
          class="card-img-top"
          src="assets/img/game6.jpg"
          alt="Imagem de capa do card"
        />
        <div class="card-body">
          <h5 class="card-title">Sackboy</h5>
          <p class="card-text">
            Vex, um terrível vilão, sequestra os amigos de Sackboy e os força a
            construírem um dispositivo para destruir o Artemundo.
          </p>
          <a href="#" class="btn btn-primary">COMPRAR</a>
        </div>
      </div>
    </div>
    <!------------------------->
    <div
      class="col-xxl-2 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12 my-3 mx-auto"
    >
      <div class="card m-auto" style="width: 15rem">
        <img
          class="card-img-top"
          src="assets/img/game1.jpg"
          alt="Imagem de capa do card"
        />
        <div class="card-body">
          <h5 class="card-title">Hades</h5>
          <p class="card-text">
            Hades é um jogo de ação hack and slash frenético com visão
            isométrica desenvolvido pela Supergiant Games.
          </p>
          <a href="#" class="btn btn-primary">COMPRAR</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--DIV-PRODUTOS END-->
